.nav {
  border-bottom: 1px solid $grey-light;
  color: $black-faded;
  font-weight: 400;
  font-size: 1.25em;
  overflow: hidden;
  position: relative;
  height: 50px;
  transition: height .4s ease;

  &.is-active {
    height: 165px;
  }
  // padding: 50px 0;
  // padding: 25px 10px;
}

.nav-left, .nav-right {
  border: 1px solid $test-border-color;
  // width: 50%;
}

.nav-right {
  // text-align: right;
  text-align: left;
}

.nav-menu-item {
  color: inherit;
  cursor: pointer;
  display: block;
  margin-left: 20px;
  margin-top: 15px;
  text-decoration: inherit;

  &:hover {
    color: $color-primary;
  }
}

.nav-menu-icon {
  position: absolute;
  right: 10px;
  top: 13px;
}

.nav-name {
  color: black;
  font-weight: 500;
}
