.nav {
  // border: 1px solid #000;
  color: $black-faded;
  font-weight: 400;
  font-size: 1.25em;
  padding: 50px 0;
}

.nav-left, .nav-right {
  border: 1px solid $test-border-color;
  display: inline-block;
  width: 50%;
}

.nav-right {
  text-align: right;
}

.nav-menu-item {
  color: inherit;
  cursor: pointer;
  margin-left: 20px;
  text-decoration: inherit;

  &:hover {
    color: $color-primary;
  }
}

.nav-name {
  color: black;
  font-weight: 500;
}
