.portfolio-app-link {
  // border: 1px solid $test-border-color;
  display: block;
  margin: 50px 0;
  width: 100%;
}

.portfolio-app-screenshot-container {
  margin: 0 auto;
  width: 75%;
}

.portfolio-app-screenshot {
  border: 1px solid $grey-light;
  max-width: 100%;
}
