.portfolio-list {
  font-size: 16px;
  padding-top: 50px;
}

.portfolio-screenshot {
  max-width: 100%;
}

.portfolio-title {
  display: inline-block;
  @media only screen and (min-width: 960px) {
    line-height: 1;
    margin: 0;
  }
}

.portfolio-description {
  margin-top: 0;

  @media only screen and (min-width: 960px) {
    margin-top: 15px;
  }
}

.portfolio-tech-icons {
  font-size: 1.2em;
  margin: 16px 0;
}

.portfolio-tech-icon {
  margin-right: 5px;
  &:hover {
    color: black;
  }
}

.portfolio-link {
  font-weight: 600;
  &:hover {
    color: black;
  }
}

// .portfolio-app-link {
//   // border: 1px solid $test-border-color;
//   display: block;
//   margin: 50px 0;
//   width: 100%;
// }
//
// .portfolio-app-screenshot-container {
//   margin: 0 auto;
//   width: 75%;
// }
//
// .portfolio-app-screenshot {
//   border: 1px solid $grey-light;
//   max-width: 100%;
// }
