%root-container {
  border: 1px solid $test-border-color;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;

  @media only screen and (min-width: 768px) {
    padding: 0 40px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 1100px;
  }

  @media only screen and (min-width: 1640px) {
    max-width: 1200px;
  }
}

.container {
  @extend %root-container;
}

.nav-container {
  @extend %root-container;
  // max-width: 1000px;
}

.link {
  color: $color-primary;
  text-decoration: underline;
}
